@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

}

*, *::before, *::after {
    box-sizing: inherit;
}


.billboard {
    background-color: black;
    height: 50vh;
}

.clouds {
    left: 200px;
  position: absolute;
  top: 100px;
  width: 500px;
  -webkit-animation: clouds-move 3s ease-in-out infinite alternate;
  animation: clouds-move 3s ease-in-out infinite alternate;
}

.secondcloud {
  right: 200px;
  position: absolute;
  top: 100px;
  width: 500px;
  -webkit-animation: secondcloud-move 3s ease-in-out infinite alternate;
  animation: secondcloud-move 3s ease-in-out infinite alternate;
}

@-webkit-keyframes clouds-move {
  0% { -webkit-transform: translateX(0); }
  100% { -webkit-transform: translateX(-80px); }
}

@keyframes clouds-move {
  0% { transform: translate(0); }
  100% { transform: translate(-80px); }
}

@-webkit-keyframes secondcloud-move {
  0% { -webkit-transform: translateX(0); }
  100% { -webkit-transform: translateX(80px); }
}

@keyframes secondcloud-move {
  0% { transform: translate(0); }
  100% { transform: translate(80px); }
}

